DATABASE_URL=postgresql://matcha:matcha@matcha-db:5432/matcha
DB_USER=matcha
DB_PASSWORD=matcha
DB_NAME=matcha
EMAIL=lala@gmail.com
EMAIL_PASSWORD=lqif lala szza yoyo
URL_FRONT=http://localhost:8080
URL_BACK=http://localhost:8765/
VITE_URL_API=http://localhost:8765
VITE_WS_API=ws://localhost:8765
